body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 18px;
}

.main-header {
    background: #ffffff;
    border-bottom: 1px solid #ccc;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.25s;
}

.nav-menu a:hover {
    background: #eee;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.03);
}

/* עיצוב טופס */
.contact-form {
    max-width: 400px;
    background: #fff;
    padding: 20px;
    margin: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
